@use './vendor/bootstrap/bootstrap.scss';
@use '../abstracts/vars';
@use '../media-queries';

body{
    font-family: vars.$ff-primary;  
    width: 50%;
}

html{
    font-size: 0.969rem;
}

@include media-queries.respond-to(media-queries.$tablet-landscape){
    .br-mv {
        zoom: 150%;
    }
} 
