@use '../abstracts/vars';
@use '../media-queries';

@mixin btn-dark($sizebtn, $ffsize){
    &:hover{
        color: vars.$clr-red;
    }

    width: $sizebtn;
    font-size: $ffsize;

    border: vars.$clr-gray-dark;
    background-color: vars.$clr-gray-dark;
    color: vars.$clr-white;
}

@mixin btn(){
    position: relative;
    display: grid;
    place-items: center;
    text-decoration: none;
    border-radius: 1.5rem;
    
    height: 3.938rem;
    text-align: center;

    font-weight: vars.$fw-bold;
    font-family: vars.$ff-primary;
}

@mixin btn-red($btnsize, $fsize){
  
    font-size: $fsize;
    
    width: $btnsize;
    border: vars.$clr-red;
    background-color: vars.$clr-red;
    color: vars.$clr-white;
}

@mixin set-font($ffamily, $fweight, $fsize, $fcolor: vars.$clr-black){
    font-family: $ffamily;
    font-weight: $fweight;
    font-size: $fsize;
    color: $fcolor;
}

@mixin display-options(){
    nav li a {  
        padding: 0.7rem 0.438rem;
        display:block;
        opacity: 97%; 
        margin-right: 1.875rem;
    }
    .nav li ul {
        display:none;
        position:absolute;
    }

    .nav li:hover > ul {
        display:block;
        z-index: 2;
        position: fixed;
    }

    .nav-client-align{
        right: 6.8rem; 
        padding-left: 2rem;
        width: 16rem;
        border-radius: 2rem;
    }
}
