//font-family
$ff-primary: "Oswald";

//font-weight
$fw-regular: 400;
$fw-medium: 600;
$fw-bold: 700;

//font-size
$fs-xxxxsm: 1.313rem; //22px
$fs-xxxsm: 1.438rem; //24px
$fs-xxsm: 1.563rem; //26px
$fs-xsm: 1.625rem; //27px
$fs-sm: 1.813rem; //30px
$fs-xmed: 1.938rem; //32px
$fs-med: 2.125rem; //35px
$fs-lg: 2.188rem; //36px
$fs-sup-lg: 3.375rem; //55px 

//colors 
$clr-black: hsl(0, 0%, 0%);
$clr-white: hsl(0, 0%, 100%);
$clr-gray: hsl(0, 5%, 92%);
$clr-gray-dark: hsl(200, 19%, 18%);
$clr-red: hsl(355, 68%, 51%);

//buttons size
$btn-sm: 14.938rem; //239px
$btn-xsm: 20.313rem; //325px
$btn-med: 24.313rem; //389px
$btn-lg: 26.188rem; //419px
$btn-sup-lg: 39.396rem; //630.34px