@use '../vendor/bootstrap/bootstrap.scss';
@use '../abstracts/vars';
@use '../abstracts/mixins';
@use '../media-queries';

.footer-color{
    height: auto;
    background: vars.$clr-gray-dark;
    width: 99.5rem;
    margin-left: -9rem;

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        height: fit-content;  
        width: fit-content;
        margin-left: 0;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        height: fit-content;  
        width: fit-content;
        margin-left: 0;
    }

    @include media-queries.respond-to(media-queries.$phone){    
    }

}

.footer-title{
    @include mixins.set-font(vars.$ff-primary, vars.$fw-bold, vars.$fs-med, vars.$clr-red);   

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        font-size: vars.$fs-lg; 
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        font-size: vars.$fs-xxxsm;
    }

    @include media-queries.respond-to(media-queries.$phone){     
    }
}

.footer-info{
    @include mixins.set-font(vars.$ff-primary, vars.$fw-bold, vars.$fs-xmed, vars.$clr-white); 
    --bs-nav-link-padding-x: 5rem; 
    display: inline-block;  

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        font-size: vars.$fs-xxxxsm;
    }

    @include media-queries.respond-to(media-queries.$phone){     
    }
}

.footer-info:hover{
    opacity: 85%;
    color:  vars.$clr-red;
    transform: scale(1.5);
}

.margin-logo{
    margin-top: 7rem;
    margin-left: 12.5rem;
    margin-right: 1rem;

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        margin-top: 0;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        margin-top: 0;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    @include media-queries.respond-to(media-queries.$phone){
        margin-top: 0;
        margin-left: -1.5rem;
    }
}

.icons-size{
    width: 55%;

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        width: 55%;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        width: 40%;
    }

    @include media-queries.respond-to(media-queries.$phone){ 
       
    }
}

.mr-footer{
    margin-right: 13rem;

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        margin-right: 0;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        margin-right: 0;
    }

    @include media-queries.respond-to(media-queries.$phone){
        margin-top: 0;
        margin-left: 0;
    }
}


//media queries externos a las clases
@include media-queries.respond-to(media-queries.$tablet-landscape){
    .margin-left-tb{
        margin-left: 1rem;
        margin-top: -4rem;
    }

    .margin-top-tb{    
        margin-top: -4rem;
    }
}

@include media-queries.respond-to(media-queries.$tablet-portrait){
    .margin-top-tb{    
        margin-top: -1rem !important;
    }

    .ml-tb{
        margin-left: 4.5rem;
    }
    .margin-botton-tb{    
        margin-top: 2.5rem;
    }
}

@include media-queries.respond-to(media-queries.$phone){ 
    
    .info-footer-mb{
        text-align: center;
    }
    
    .img-size-mb{
        width: 113%; 
    }

    .ml-mb{
        margin-left: -1rem !important;
    }

    .margin-left-tb{
        margin-left: -1rem;
    }

    .ms-0{
        margin-left: 0 !important;
    }

    .ml-mt-mobile{
        margin-left: 0.5rem;
        margin-top: -1.5rem;
    }
}


 





