@use '../vendor/bootstrap/bootstrap.scss';
@use '../abstracts/vars';
@use '../base/typography';
@use '../abstracts/mixins';

.topnav{
    height: 9.563rem;
    width: auto;
    background: vars.$clr-red;
}

.margin-user{
    margin-right: 8rem;
}

.header-text{
    @include typography.set-font(vars.$ff-primary, vars.$fw-bold, vars.$fs-lg, vars.$clr-red);   
}

.nav-background-color{
    background-color: vars.$clr-gray;
}

.display-user{
    @include mixins.display-options();
}