@use '../media-queries';
@use '../abstracts/mixins';
@use '../abstracts/vars';
@use '../base/typography';

//carrousel
.carrousel-text{
    @include mixins.set-font(vars.$ff-primary, vars.$fw-bold, vars.$fs-lg, vars.$clr-red);    
}

.margins-carrousel{
    margin-right: 9.688rem;
    margin-left: 9.688rem;
    margin-top: 6rem;
    margin-bottom: 7rem;

    @include media-queries.respond-to(media-queries.$tablet-landscape){
            width: 100%;
            margin-left: 0;   
             margin-top: 2rem;
            margin-bottom: 2rem;
    } 
    
    @include media-queries.respond-to(media-queries.$phone){
            width: 100%;
            margin-left: 0;
            margin-top: 2rem;
            margin-bottom: 2rem;
    } 
}

.margin-carrousel{
    margin-right: 3.688rem;
}

//carrousel modal
.carrousel-width{
    width: 70%; 
}

