@use '../media-queries';
@use '../abstracts/mixins';
@use '../abstracts/vars';
@use '../base/typography';

//carrousel
.carrousel-text{
    @include mixins.set-font(vars.$ff-primary, vars.$fw-bold, vars.$fs-lg, vars.$clr-red);  
    
    @include media-queries.respond-to(media-queries.$tablet-landscape){
        font-size:  vars.$fs-xlg;     
    }   

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        font-size: vars.$fs-xlg;        
    }   
}

.width-carrousel{
    width: 116%;
    left: -106px;

     @include media-queries.respond-to(media-queries.$tablet-landscape){
        margin-top: 3rem;
        zoom: 55%;
        width: 104%;
        left: -17px;
                
    } 

    @include media-queries.respond-to(media-queries.$phone){
        zoom: 36%;    
    } 
}

//carrousel modal
.carrousel-width{
    width: 70%; 
}

