@use '../media-queries';
@use '../abstracts/mixins';
@use '../abstracts/vars';
@use '../base/typography';

.btn-menu{
    @include mixins.btn-menu(vars.$clr-red, vars.$clr-red, vars.$clr-white);
}

.btn-menu:hover{ 
    color:  vars.$clr-gray-dark;   
}

.search-btn{
    @include mixins.btn-menu(vars.$clr-red, vars.$clr-red, vars.$clr-white);

    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    width: 5.563rem; 
}

.search-bar{
    @include mixins.btn-menu(vars.$clr-red, vars.$clr-gray, vars.$clr-black);

    text-align: left;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    width: 22rem;  
} 

.box-titles{
    @include mixins.btn-menu(vars.$clr-red, vars.$clr-red, vars.$clr-white);

    width: vars.$btn-lg;
    font-size: vars.$fs-lg;
}

.btn-view{
    @include mixins.btn-menu(vars.$clr-gray-dark, vars.$clr-gray-dark, vars.$clr-white);

    width: vars.$btn-sm;
    font-size: vars.$fs-xsm;
}

.btn-view-more{
    @include mixins.btn-menu(vars.$clr-gray-dark, vars.$clr-gray-dark, vars.$clr-white);

    width: vars.$btn-xsm;
    font-size: vars.$fs-lg;
}

.btn-modal{
    @include mixins.btn-menu(vars.$clr-gray-dark, vars.$clr-gray-dark, vars.$clr-white);
    height: 2.9rem;

    width: 8rem;
    font-size: vars.$fs-xsm;
    font-weight: vars.$fw-regular;
}

.display-nav{
    @include mixins.display-options();
}

.card-color{
    background-color: vars.$clr-gray;
}

.category-text{
    @include typography.set-font(vars.$ff-primary, vars.$fw-bold, vars.$fs-xxxxsm, vars.$clr-red);   
}

.text-recipe-name{
    @include typography.set-font(vars.$ff-primary, vars.$fw-medium, vars.$fs-xsm, vars.$clr-black);  

    max-height: 1.899000000000001rem; 
}

.text-recipe-level{
    @include typography.set-font(vars.$ff-primary, vars.$fw-bold, vars.$fs-xxxxsm, vars.$clr-black);  
    opacity: 50%;  
}

.text-recipe-description{
    @include typography.set-font(vars.$ff-primary, vars.$fw-regular, vars.$fs-xxxxsm, vars.$clr-black); 
    max-height: 7rem; 
     
}

.options-text{
    @include typography.set-font(vars.$ff-primary, vars.$fw-regular, vars.$fs-xxxxsm, vars.$clr-red); 
  
    text-decoration: none;
     
}

.badge-pink{
    background: vars.$clr-red;
}

.text-recipe-label{
    @include typography.set-font(vars.$ff-primary, vars.$fw-bold, vars.$fs-lg, vars.$clr-red);

    margin-left: 7.5rem;
}

.text-recipe-textarea{
    @include typography.set-font(vars.$ff-primary, vars.$fw-bold, vars.$fs-sm, vars.$clr-black); 

    opacity: 90%;
    width: vars.$btn-sup-lg;
    border-color: vars.$clr-red;
    border-width: 0.313rem; 
}

.text-info-name{
    @include typography.set-font(vars.$ff-primary, vars.$fw-bold, vars.$fs-sup-lg, vars.$clr-black);
}

.text-info{
    @include typography.set-font(vars.$ff-primary, vars.$fw-regular, vars.$fs-xmed, vars.$clr-black);  
    color: vars.$clr-black !important;
}

.textarea-width{
    width: 19.125rem;
}

.padding-card{
    padding-right: 11rem;
}

.img-height{
   height: 14rem;
}

.img-fitscreeen{
    object-fit: fill;
    width: 45%;
    height: 90%;
}

.margin-modal{
    margin-left: 3rem;
    padding-right: 3rem;
}

.carrousel-width{
    width: 70%;
}

.line-separation{
    position: absolute;
    width: 51px;
    height: 0px;


    border: 2.5px solid #000000;
    transform: rotate(90deg);
}

.table-width{
    width: 75rem;
    margin-left: 3rem;
}