@use '../media-queries';
@use '../abstracts/mixins';
@use '../abstracts/vars';

@include media-queries.respond-to(media-queries.$tablet-landscape){
    .gridmb{
        grid-template-columns: 1fr;
    }
} 

//Buttons
.btn-menu{
    @include mixins.btn-red(vars.$btn-sup-sm, vars.$fs-xxsm);
    @include mixins.btn();
}

.btn-menu:hover{ 
    color: vars.$clr-gray-dark;   
}

.search-btn{
    @include mixins.btn-red(vars.$search-size, vars.$fs-xxsm);
    @include mixins.btn();

    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
}

.box-titles{
    @include mixins.btn-red(vars.$btn-lg, vars.$fs-lg);
    @include mixins.btn();
}

.search-bar{
    @include mixins.btn-red(vars.$search-bar, vars.$fs-xxsm);
    @include mixins.btn();

    background-color: vars.$clr-gray;
    text-align: left;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
} 

.btn-view{
    @include mixins.btn-dark(vars.$btn-sm, vars.$fs-xsm);
    @include mixins.btn();
}

.btn-large{
    @include mixins.btn-dark( vars.$btn-xsm, vars.$fs-lg);
    @include mixins.btn();
}

.btn-modal{
    @include mixins.btn-dark(vars.$btn-modal, vars.$fs-xsm);
    @include mixins.btn();
    height: 2.9rem;
    font-weight: vars.$fw-regular;
}

//backgrounds
.card-color{
    background-color: vars.$clr-gray;
}

.badge-pink{
    background: vars.$clr-red;
}

//margins, paddings, width
.margin-modal{
    margin-left: 3rem;
    padding-right: 3rem;
}

.padding-card{
    padding-right: 11rem;
}

.table-width{
    width: 75rem;
    margin-left: 3rem;
}

.textarea-width{
    width: 19.125rem;
}

.img-height{
    height: 14rem;
 }

.img-fitscreeen{
    object-fit: fill;
    width: 45%;
    height: 90%;
}

//others
.display-nav{
    @include mixins.display-options();
}

@include media-queries.respond-to(media-queries.$tablet-landscape){
    .search-bar{
        width: 18rem;
        color: vars.$clr-black;
    } 

    .grid-tb{
        zoom: 160%;
        margin-right: 5rem;
        justify-content: center;
    }

    .zoom-button{
        zoom: 130%;
    }

    .recipe-information-tb{
        zoom: 70%;
    }

    .img-modal{
        width: 80%;
        height: 90%;
    }
}